<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="loan_department">
    <test name="API Tests">
        <classes>
            <class name="com.apitesting.testscripts.TC_001"/>
               <!-- <methods>
                    <include name = "verifyGetFDI"/>
                </methods>
            </class>-->
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->